@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RoadToWork</h1>
    <p class="lead">RoadToWork est une solution simple est facile de mise en relation de salariés afin de pratiquer du covoiturage.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Créer un compte</h2>
        <p>
            Créer votre compte permet de vous référecer auprès de vos collègues et simplfier les démarches de covoiturage.
        </p>
        <p><a class="btn btn-default" href="">Créer un compte</a></p>
    </div>
    <div class="col-md-4">
        <h2>Proposer vous en tant que chauffeur</h2>
        <p>Signalé a vos collègues que vous êtes disponible pour du covoiturage.</p>
        <p><a class="btn btn-default" href="">Proposer</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chercher un chauffeur</h2>
        <p>Trouver un collègues pret a vous prendre en covoiturage !</p>
        <p><a class="btn btn-default" href="">Chercher</a></p>
    </div>
</div>